<!--The content below is only a placeholder and can be replaced.-->
<!--GOOGLE LOGIN CODE <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      };
    </script> -->
<div class="fixed">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="key"></clr-icon>
                <span class="title">{{ title }}</span>
            </a>
        </div>
        <div class="header-actions">
            <a href="..." class="nav-link nav-icon">
                <clr-icon shape="cog"></clr-icon>
            </a>
        </div>
    </header>
    <nav class="subnav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home Sitting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Schlüssel Einlagern</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Kinder Abholung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Computer Wartung</a>
            </li>
            
        </ul>
    </nav>
</div>
<div>
    <ul>
    <li class="text" *ngFor="let item of items | async">
      {{item.name}}
    </li>
  </ul>
</div>
<div>
    <svg width="100%" height="200px">
        <g id="R1" transform="translate(250 250)">
            <ellipse rx="100" ry="0" opacity=".5">
                <animateTransform attributeName="transform" type="rotate" dur="15s" from="0" to="360" repeatCount="indefinite" />
                <animate attributeName="cx" dur="10s" values="-20; 220; -20" repeatCount="indefinite" />
                <animate attributeName="ry" dur="7s" values="10; 60; 10" repeatCount="indefinite" />
            </ellipse>
        </g>
        <use xlink:href="#R1" transform="rotate(72 390 150)" />
        <use xlink:href="#R1" transform="rotate(144 390 150)" />
        <use xlink:href="#R1" transform="rotate(216 390 150)" />
        <use xlink:href="#R1" transform="rotate(288 390 150)" />
    </svg>

    <hr width=50%>
    <hr width=50%>
    <hr width=50%>

    <div class="headline"><h1>Willkommen</h1></div>
    
<div class="mainlink">
<div class="container">
</div>
<app-service-list></app-service-list>


</div>


 <div class="mainlink">
 
 <h6><a target="_blank" rel="noopener" href="https://berlinerzweitschluessel.de/tier-und-pflanzenbetreuung/">Get the Granny</a></h6> 
 <h6><a target="_blank" rel="noopener" href="https://berlinerzweitschluessel.de/schluessel-einlagern/">Call
     your Keys</a></h6>
          
    </div>
</div>
<footer class="bottom-page"></footer>
  


