<!--The content below is only a placeholder and can be replaced.-->
<div class="fixed">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="key"></clr-icon>
                <span class="title">{{ title }}</span>
            </a>
        </div>
        <div class="header-actions">
            <a href="..." class="nav-link nav-icon">
                <clr-icon shape="cog"></clr-icon>
            </a>
        </div>
    </header>
    <nav class="subnav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home Sitting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Schlüssel Einlagern</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Kinder Abholung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Computer Wartung</a>
            </li>
        </ul>
    </nav>
</div>

<div>
    <svg width="100%" height="200px">
        <g id="R1" transform="translate(250 250)">
            <ellipse rx="100" ry="0" opacity=".5">
                <animateTransform attributeName="transform" type="rotate" dur="15s" from="0" to="360" repeatCount="indefinite" />
                <animate attributeName="cx" dur="10s" values="-20; 220; -20" repeatCount="indefinite" />
                <animate attributeName="ry" dur="7s" values="10; 60; 10" repeatCount="indefinite" />
            </ellipse>
        </g>
        <use xlink:href="#R1" transform="rotate(72 390 150)" />
        <use xlink:href="#R1" transform="rotate(144 390 150)" />
        <use xlink:href="#R1" transform="rotate(216 390 150)" />
        <use xlink:href="#R1" transform="rotate(288 390 150)" />
    </svg>

    <hr width=50%>
    <hr width=50%>
    <hr width=50%>

    <div class="headline"><h1>Willkommen</h1></div>
    
 <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="btn-lg w100" src="./assets/icons/favicon1.ico" alt="First slide">
    </div>
   </div>
 </div>

 

<div class="mainlink">
<div class="container">
</div>
<app-service-list></app-service-list>


</div>


 <div class="mainlink">
 
 <h6><a target="_blank" rel="noopener" href="https://berlinerzweitschluessel.de/tier-und-pflanzenbetreuung/">Get the Granny</a></h6> 
 <h6><a target="_blank" rel="noopener" href="https://berlinerzweitschluessel.de/schluessel-einlagern/">Call
     your Keys</a></h6>
          
    </div>
</div>


